@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

div#landing {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/clouds.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
div#landing .logo-slogan {
  min-width: 280px;
  width: 70vw;
  max-width: 700px;
  height: -moz-max-content;
  height: max-content;
}
div#landing .scroll-btn button {
  background-color: rgba(255, 255, 255, 0);
  color: #0A4284;
  border: none;
  font-size: 3rem;
  margin-top: 150px;
}
div#landing .scroll-btn button:hover {
  cursor: pointer;
}

main {
  min-height: 100vh;
}
main header {
  width: 100vw;
  height: 200px;
  background-image: url("../images/clouds.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
main header img {
  width: 30vw;
  max-width: 350px;
  min-width: 280px;
  height: -moz-max-content;
  height: max-content;
  margin-top: 20px;
}
main .display-pic {
  display: flex;
  justify-content: center;
  margin-top: -75px;
}
main .display-pic img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -o-object-position: 100% -24px;
     object-position: 100% -24px;
  border: 8px solid #ffffff;
}
main .info {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  color: #333333;
}
main .info h1, main .info p, main .info div {
  padding: 0;
  margin: 0;
}
main .info h1, main .info .title {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
main .info .bio {
  color: #777777;
  word-spacing: 4px;
  letter-spacing: 0.2px;
}
main .info .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
main .info .socials .twitter-icon {
  width: 28px;
}
main .info .socials .twitter-icon:hover {
  content: url("../images/icons/icon-x-blue.svg");
}
main .info .socials i {
  font-size: 24px;
  color: #333333;
}
main .info .socials i:hover {
  color: #3D93F2;
}
main .info .socials .insta-icon, main .info .socials yt-icon {
  font-size: 28px;
}
main .info .socials .tiktok-icon {
  width: 25px;
}
main .carousel-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
  margin-bottom: 100px;
}
main .carousel-posts .carousel {
  width: 85vw;
  max-width: 500px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
main .carousel-posts .carousel .carousel-inner .carousel-item img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .carousel-posts .carousel .carousel-inner .carousel-item .card {
  box-shadow: 20px 20px 20px #000;
}
main .carousel-posts .carousel .carousel-inner .carousel-item .card-body {
  text-align: center;
  color: #333333;
}
main .carousel-posts .carousel .carousel-inner .carousel-item .card-body .card-title {
  font-weight: bold;
}
main .carousel-posts .carousel .carousel-inner .carousel-item .card-body .btn-carousel {
  background-color: #3D93F2;
  border: none;
}
main .carousel-posts .carousel .carousel-inner .carousel-item .card-body .btn-carousel:hover {
  background-color: #0A4284;
  cursor: pointer;
}
main .carousel-posts .carousel .carousel-post-indicators {
  position: unset;
}
main .carousel-posts .carousel .carousel-post-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: #EFEFEF;
}
main .carousel-posts .carousel .carousel-post-indicators button.active {
  background-color: #464545;
}/*# sourceMappingURL=styles.css.map */